@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}
body{
    margin: 0;
    /* the following says first use Montserrat, if the user
    doesn't have that resort to any sans-serif font they own*/
    font-family: 'Montserrat', "sans-serif";
    background-color: #222425;
}

p{
    /*default font for the body for example is 16px, 1 em is 
    equivalent to 16px*/
    font-size: 0.9em;
    /*space betweent the lines*/
    line-height: 1.6em;
}

ul {
    /*gets rid of the list dots*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    background-color:#181818; 
    z-index: 12;
    height: 4.5em;
    
}

nav {
    background-color:#181818;  
}

nav ul{
    display: flex;
    text-align: center;
    padding: 0.8em;
    
}
nav ul li{
    margin-right: 6em;
}
nav ul li a{
    color: rgb(87, 85, 85);
    font-size: 20pt;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}



.grid-area{
    margin: 0 4em 3em 8em;
    color: white;
    align-content: center;  
    display: flex;
    flex-direction: column;

}

.row-flex{
    display: flex;
    flex-direction: row;
    margin: 0 4em 3em 3em;
}

.grid-area h2{
    color: white;
    font-size: 5em;
    margin: 1.5em 0 0 0;
}
.pic{
    height: 30em;
    width: 15em;
    margin: 5em 0 3em 10em 
}

.me{
    width: 100%;
    height: 100%;
}

.contact{
    color: rgb(221, 88, 88);
    /*gets rid of the underline*/
    text-decoration: none;
    text-align: center;
    width: 6em;
    padding: 1em;
    background-color: #222425;
    font-size: 25pt;
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(221, 88, 88);
    margin: 2em 0 0 0;

}


.grid-area p{
    font-size: 15pt;
    font-style: italic;
    color: rgb(87, 85, 85);
    margin: 0 0 0 0;
}

.box{
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(221, 88, 88);
    background-color: #222425;
}
.box h1{
    color: rgba(255, 255, 255, 0.123);
    z-index: -1;
    font-size: 150pt; 
    margin: 0.3em 0 0 0;

}

.about{
    margin: 0 auto 8em auto;
    width: 65em;
    background-color: rgb(87, 85, 85);
    color: white;
    align-content: center;
    padding: 1em;
    border: rgb(221, 88, 88) 2px solid;
}
.about p{
    font-size: 13pt;
}

.arrow{
    background-color: #222425;  
    width: 100%;
}
.arrow img{
    display: block;
    margin: auto;
    width: 40%;
    z-index: 0;
    animation: move 0.7s infinite alternate;
}
@keyframes move {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}

.skills{
    margin: 0 auto 8em auto;
    width: 65em;
    background-color: rgb(87, 85, 85);
    color: white;
    align-content: center;
    padding: 1em;
    border: rgb(221, 88, 88) 2px solid;
}
.skills p{   
    font-size: 13pt;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cocktail{
    color: rgb(214, 138, 87);
    /*gets rid of the underline*/
    text-decoration: none;
    display: block;
    width: 5em;
    padding: 0.7em;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    /*border-radius: 20px;*/
    border: solid 5px rgb(214, 138, 87);
    margin: 0 auto 2em auto;  
    background-image: url(../imgs/soda-1550316_640.jpg);
    background-size: 300px 200px;
}

.proj{
    color: rgb(221, 88, 88);
    /*gets rid of the underline*/
    text-decoration: none;
    display: block;
    width: 5em;
    padding: 0.7em;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    /*border-radius: 20px;*/
    border: solid 5px rgb(221, 88, 88);
    margin: 0 auto 2em auto;  
}
.weather{
    /*gets rid of the underline*/
    text-decoration: none;
    display: block;
    width: 5em;
    padding: 0.7em;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    /*border-radius: 20px;*/
    border: solid 5px rgb(68, 163, 163);
    margin: 0 auto 2em auto;  
    background-image: url(../imgs/landscape-1844227.svg);
    background-size: cover;
    color: rgb(68, 163, 163);

}


.project{
    margin: 0 auto 4em auto;
    width: 65em;
    background-color: rgb(87, 85, 85);
    color: white;
    align-content: center;
    padding: 1em;
    border: rgb(221, 88, 88) 2px solid;  
}
.project p{
    font-size: 13pt;
}

.contact-me{
    background-color: #222425;
    margin: auto;
    padding: 2em 2em;
}
.contact-me h1{
    color: white;
    text-align: center;
}
.contact-me ul li{
    color: rgb(87, 85, 85);
    text-align: center;
}
.contact-me ul li a{
    color: rgb(87, 85, 85);
    text-decoration: none;
}
.contact-me ul li a:hover{
    color: white;
}



@media only screen and (max-width: 1100px){ 
    
    .pic{
        height: 26em;
        width: 15em;
        margin: 5em 0 3em 10em 
    }
    
    .me{
        width: 100%;
        height: 100%;
    }
    .row-flex{
        margin: 0 0em 3em 0em;
    }
    .grid-area h2{
        font-size: 4em;
        margin: 1.5em 0 0 0;
    }
    .box h1{
        font-size: 130pt; 
    }
    
    .about{
        width: 40em;
    }
    .about p{
        font-size: 13pt;
    }

    .skills{
        width: 40em;
    }
    .skills p{   
        font-size: 13pt;
    }

    .project{
        width: 40em;     
    }
    .project p{
        font-size: 13pt;
    }
}

@media only screen and (max-width: 900px){

    .pic{
        height: 20em;
        width: 11em;
        margin: 5em 0 3em 5em 
    }
    
    .me{
        width: 100%;
        height: 100%;
    }
    .grid-area{
        margin: 0 4em 3em 6em;
    }
    .grid-area h2{
        margin: 1.5em 0 0 0;
    }
    .contact{
        font-size: 18pt;
        border: rgb(221, 88, 88) 2px solid;  
    }
    

}


@media only screen and (max-width: 750px){

    .pic{
        height: 20em;
        width: 11em;
        margin: 5em 0 3em 3em 
    }
    
    .me{
        width: 100%;
        height: 100%;
    }
    .grid-area{
        margin-left: 2em;
        margin-right: 1em;
    }
    
    .contact{
        font-size: 18pt;     
    }
    
    nav ul li{
        margin-right: 4em;
    }
    nav ul li a{
        font-size: 16pt;
    }
    header{
        height: 3em;
    }

    .box h1{
        font-size: 90pt; 
    }
    
    .about{
        width: 30em;
    }
    .about p{
        font-size: 10pt;
    }

    .skills{
        width: 30em;
    }
    .skills p{   
        font-size: 10pt;
    }

    .project{
        width: 30em;     
    }
    .project p{
        font-size: 10pt;
    }

    .cocktail{     
        width: 4.2em;
        font-size: 18pt;
        border-width: 3px;
        margin: 0 auto 2em auto;  
    }
    
    .proj{
        width: 4.2em;
        font-size: 18pt;
        border-width: 3px;
        margin: 0 auto 2em auto;  
    }
    .weather{
        width: 4.2em;
        font-size: 18pt;
        border-width: 3px;
        margin: 0 auto 2em auto;    
    }

    .arrow img{
        width: 50%;
    }
    @keyframes move {
        0%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(30px);
        }
    }

}

@media only screen and (max-width: 540px){

    .pic{
        height: 16em;
        width: 8em;
        margin: 6em 0 0 3em 
    }
    
    .me{
        width: 100%;
        height: 100%;
    }
    .grid-area{
        margin-left: 1em;
        margin-right: 0;
    }
    .grid-area h2{
        font-size: 3em;
    }
    .grid-area p{
        font-size: 11pt;
    }
    .contact{
        font-size: 11pt;  
        padding: 2em; 
        width: 7em;    
    }


    nav ul li{
        margin-right: 2.7em;
    }
    nav ul li a{
        font-size: 15pt;
    }
    header{
        height: 3em;
    }

    .box h1{
        font-size: 55pt; 
    }
    
    .about{
        width: 18em;
        margin-bottom: 4em;
    }
    .about p{
        font-size: 10pt;
    }

    .skills{
        width: 18em;
    }
    .skills p{   
        font-size: 9pt;
    }

    .project{
        width: 18em;     
    }
    .project p{
        font-size: 9pt;
    }

    .cocktail{     
        width: 4em;
        font-size: 14pt;
        margin: 0 auto 2em auto;  
    }
    
    .proj{
        width: 4em;
        font-size: 14pt;
        margin: 0 auto 2em auto;  
    }
    .weather{
        width: 4em;
        font-size: 14pt;
        margin: 0 auto 2em auto;    
    }

    

    


}



@media only screen and (max-width: 400px){

    .pic{
        height: 16em;
        width: 7em;
        margin: 4em 0 0 3em 
    }
    
    .me{
        width: 100%;
        height: 100%;
    }
    .grid-area{
        margin-left: 2em;
        margin-right: 0;
        margin-top: 2em;
    }
    .grid-area h2{
        font-size: 2em;
    }
    .grid-area p{
        font-size: 8pt;
    }
    nav ul li{
        margin-right: 2.5em;
    }
    nav ul li a{
        font-size: 13pt;
    }
    header{
        height: 3em;
    }

    .contact{
        font-size: 9pt;
    }



    .cocktail{     
        width: 4em;
        font-size: 12pt;
        margin: 0 auto 2em auto;  
    }
    
    .proj{
        width: 4em;
        font-size: 12pt;
        margin: 0 auto 2em auto;  
    }
    .weather{
        width: 4em;
        font-size: 12pt;
        margin: 0 auto 2em auto;    
    }

    .arrow img{
        width: 55%;
    }
    @keyframes move {
        0%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(20px);
        }
    }




}


/*
.bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-'] {
    clip-path: polygon(75% 0%, 100% 50%);
    width: 120px;
    height: 30px;
    background-color: rgb(128, 21, 21);
    margin-right: 30px;
}

div[class^='tag-'] p{
    color: white;
    text-align: left;
    padding: 5px;
    font-size:0.5em;

}
*/




